.question-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#hint {
    visibility: hidden;
    text-transform: capitalize;
    font-weight: 800;
}