.chat-ui {
    position: fixed;
    bottom: 80px;
    width: 100%;
    left: 0;
}

.chat-ui textarea {
    resize: none;
}

.chat-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.chat-container .system {
    display: none;
}

.chat-container .assistant p, .chat-container .user p {
    max-width: 70%;
    padding: 15px;
}

.chat-container .assistant {
    display: flex;
    justify-content: left;
}

.chat-container .assistant p {
    background-color: lightblue;
    left: 0;
    border-radius: 1em 1em 1em 0;
}

.chat-container .user {
    display: flex;
    justify-content: right;
}

.chat-container .user p {
    background-color: beige;
    right: 0;
    border-radius: 1em 1em 0 1em;
}